
:root {
  --pink: #fbe6f4ff;
  --yellow: #fffad1ff;
  --green: #e1f0e5ff;
  --blue: #b5caf9ff;
  --orange: #f5e6db;
  --raisin: #2b283aff;
  --grey: #d4d4d4;
}

body {
  background-color: var(--raisin);
  color: white;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 2em;
  overflow-y: hidden;
  overflow-x: hidden;
}

.universe{
  position: relative;
  border-radius: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.starSystem{
  position: absolute;
  transform-origin: center;
  width: 100px;
  height: 100px;
}

.star{
  transform-origin: center;
  --scale-duration: 10s;
  width: 15px;
  height: 15px;
  position: absolute;
  animation: scale var(--scale-duration) ease-in-out infinite;
  font-size: 1.1rem;
}

.rotating{
  --period: 10s;
  animation: rotation var(--period) linear infinite;
}

.reverseAnimation{
  animation-direction: reverse;
}

@keyframes scale {
  0%{
    transform: scale(0.7);
  }
  50%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(0.7);
  }
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.star img{
  margin-top: -10px;
  width: 100%;
}


.counter{
  position: absolute;
  top: 50px;
  left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: var(--yellow);
  border-radius: 20px;
  color: var(--raisin);
  font-family: sans-serif;
  text-align: center;
  transition: opacity 1s ease-in ;
}

.counter p {
  margin: 0px auto;
  font-size: 0.8em;
}
.counter div:last-child{
  font-size: 0.7em;
}

.counter button{
  background-color: var(--grey);
  border: none;
  border: 2px solid var(--grey);
  font-size: 1.5rem;
  border-radius: 20px 20px 5px 5px;
  cursor: pointer;
}

button:active{
  background-color: var(--yellow);
}

.reverse{
  transform: rotate(180deg);
}

